<app-navbar></app-navbar>
<div style="margin-top: 30px; margin-bottom: 50px;">
<h2>Bienvenido a nuestra sección de ayuda</h2>
En Iced Out Shows, nos esforzamos por brindar a nuestros usuarios la mejor experiencia posible. Si encuentra algún desafío o necesita orientación, estamos aquí para ayudarlo. A continuación le proporcionamos información útil que responderá a sus preguntas frecuentes.

<h3 style="margin-top: 30px;">Preguntas frecuentes (FAQ):</h3>
<h5>¿Cómo crear una cuenta?</h5>

Puede crear una cuenta haciendo clic en "Acceder" en la esquina superior izquierda de la página. Complete la información requerida y siga las instrucciones para completar su registro.
Navegación y uso del sitio web:
<h5>¿Cómo busco eventos?</h5>
Utiliza la barra de búsqueda en la página principal para encontrar eventos según tu interés. También puedes explorar las categorías y filtrar los resultados según tus preferencias.
<h5>¿Cómo Comprar Entradas?</h5>

Una vez que encuentres el evento deseado, haz clic en "Comprar Entradas". Sigue el proceso de compra, y realiza el pago de forma segura.
<h5>Soporte Técnico:</h5>
¿Problemas Técnicos?
Si experimentas problemas técnicos, intenta limpiar la caché del navegador o actualizar la página. Si el problema persiste, comunícate con nuestro equipo de soporte técnico a través de icedoutshows@gmail.com o 691186440.
Contáctanos:
¿Necesitas Ayuda Personalizada?
Si no encuentras respuestas a tus preguntas en nuestra sección de ayuda, no dudes en ponerte en contacto con nuestro equipo de soporte. Estamos aquí para asistirte y asegurarnos de que tengas la mejor experiencia posible.
Gracias por elegir Iced Out Shows. ¡Esperamos que disfrutes de tu experiencia con nosotros!
</div>
