<div class="contenedor">
    <div class="align-logo">
   <div class="icedOut-contenido"> <p><span class="texto-IcedOut">IcedOut</span> <span class="texto-shows"> Shows</span></p></div>
    <img alt="logo" class="imagen" src="../assets/icecube-removebg-preview (1).jpg">
</div>
    <div class="redes">
    <p>Síguenos en nuestras redes:</p>
    <a href="https://www.instagram.com/icedoutshows/" target="_blank"><img alt="instagram" src="../assets/icons8-instagram-24.png"></a>
    <a href="https://www.facebook.com/profile.php?id=61552268460694" target="_blank"><img alt="facebook" src="../assets/icons8-facebook-24.png"></a>
    <a href="https://www.youtube.com/@IcedOutShows" target="_blank"><img alt="youtube" src="../assets/icons8-youtube-24.png"></a>
    <a href="https://twitter.com/IcedOutShows" target="_blank"><img alt="twitter" src="../assets/icons8-twitter-24.png"></a>
</div>
</div>



