@font-face {
    font-family: 'FuenteIcedOut';
    src: url('.\assets\Whitestone.otf')
  
  }
  @font-face {
    font-family: 'FuenteShows';
    src: url('.\assets\Pyromaani.ttf')
  
  }

  @font-face {
    font-family: 'FuenteNavNegro';
    src: url('.\assets\Kanit-SemiBold.ttf')
  
  }
 
  
